.nav-styles{
    background-color: #3d3dfa;
    color: #fafafa;
    font-weight: 600;
}
.navbar-img{
    width: 70px;
}
.navbar-img img {
    max-width: 100%;
}
.navbar-img img:hover{
    background-color: white;
}
.nav-styles a:hover{
    background-color: rgb(172, 217, 253);
    
}
.custom-bg{
    background-color: white;
}
.another-header{
    text-align: center;
    margin: 20px;
    background-color: rgb(215, 219, 243);
}